name: Upload Python Package to TestPyPI

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"] # later i'll add "3.10", "3.11", "3.12"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[test]  # Installs your package + test dependencies
          pip install pytest gffutils psutil # Ensure test runners are present
      - name: Run Unit Tests
        run: |
          pytest tests/
  release-build:
    runs-on: ubuntu-latest
    needs: run-tests # <--- Won't build unless tests pass
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Build release distributions
        run: |
          python -m pip install build
          python -m build

      - name: Upload distributions
        uses: actions/upload-artifact@v4
        with:
          name: release-dists
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      # REQUIRED for Trusted Publishing
      id-token: write
    
    # This 'testpypi' name must match what you put in the TestPyPI 'Environment' field
    environment:
      name: testpypi
      url: https://test.pypi.org/p/command-line-bio

    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          name: release-dists
          path: dist/

      - name: Publish release distributions to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist/
          verbose: true 
